.div {
  border-radius: 5px;
  background-color: black;
  width: fit-content;
  margin: 5em 5vw;
  padding: 1em;
  text-align: center;
}

.div p {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.3em;
}

.working {
  color: green;
}

.broken {
  color: red;
}
