.header {
  text-align: center;
  font-size: 1.1em;
  color: var(--gray1);
  color: var(--green8);
  background-color: var(--green6);
  background-color: var(--gray10);
  padding: 1.1em;
  margin-bottom: 1.5em;
}

.header h1 {
  margin: 0;
}

.section {
  text-align: left;
  padding: 0 30vw;
  margin-bottom: 3em;
}

.form > * {
  display: block;
  margin: 0 auto;
}

.category {
  font-size: 1.1em;
  color: var(--green2);
  margin-bottom: 0.3em;
}

.form textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  margin-bottom: 2em;
  border: none;
  border-radius: 5px;
  padding: 0.3em;
  font-size: 1em;
  background-color: var(--gray4);
  outline: none;
  box-shadow: 5px 7px 3px 0px var(--gray9);
  transition: 200ms;
}

.form input[type="text"]:focus,
.form input[type="text"]:hover,
.form input[type="email"]:focus,
.form input[type="email"]:hover,
.form textarea:focus,
.form textarea:hover,
.form button:focus,
.form button:hover {
  box-shadow: 5px 8px 2px 0px var(--gray10);
}

.genderDiv {
  color: var(--green2);
  margin-bottom: 2em;
}

.genderDiv input {
  margin: 0.5em 0.5em 0.5em 1em;
}
.genderDiv label {
  color: var(--green7);
  margin-left: 0.5em;
}

.genderDiv p {
  margin: 0.4em 0;
}

.form button {
  width: 40%;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  padding: 0.35em 1em;
  color: var(--gray1);
  background-color: var(--green3);
  box-shadow: 5px 7px 3px 0px var(--gray9);
  outline: none;
  transition: 200ms;
}

.form button:hover {
  background-color: var(--red8);
}

/* SMALL */
@media (max-width: 900px) {
  .section {
    padding: 0 15vw;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .section {
    padding: 0 5vw;
  }
  .genderDiv div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .genderDiv div div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .genderDiv input {
    font-size: 1.5em;
    margin: 0.5em auto;
  }
  .genderDiv label {
    margin: 0 auto;
  }
}
