@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.msgBanner {
  text-align: center;
  width: fit-content;
  max-width: 85vw;
  margin: 1.5em auto;
  padding: 0.7em 1em;
  border-radius: 10px;
  box-shadow: 5px 7px 3px 0px var(--gray10);
  animation-name: slideIn;
  animation-duration: 0.6s;
}

.msgBanner h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.1em;
  padding: 0;
}

.success {
  color: var(--gray1);
  background-color: var(--green9);
}

.error {
  color: var(--gray1);
  background-color: var(--red6);
}

.error h1 {
  margin-bottom: 0.5em;
}

.error p {
  color: var(--red2);
  font-size: 0.95em;
  margin: 0;
}
