:root {
  --green1: #ebf9f6;
  --green2: #76d7bd;
  --green3: #237760;
  --green4: #cef1e7;
  --green5: #3bc6a0;
  --green6: #1b5948;
  --green7: #b1e8d9;
  --green8: #35b290;
  --green9: #123b30;
  --red1: #fbeeed;
  --red2: #e48784;
  --red3: #82322f;
  --red4: #f6d4d3;
  --red5: #d9534f;
  --red6: #622524;
  --red7: #f0bab9;
  --red8: #c34b47;
  --red9: #411918;
  --gray1: #f7f7f7;
  --gray2: #b1b1b1;
  --gray3: #626262;
  --gray4: #e1e1e1;
  --gray5: #9e9e9e;
  --gray6: #515151;
  --gray7: #cfcfcf;
  --gray8: #7e7e7e;
  --gray9: #3b3b3b;
  --gray10: #2a2a2a;
  --orange: #f37420;
}

html,
body {
  color: var(--gray1);
  background-color: var(--gray9);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
